:root {
    --background: #121212;
    --background2: #181818;
    --font: #c4c4c4;

    --color1: rgb(5, 195, 243);
    --color2: rgb(4, 160, 199);

    --header: rgba(0, 0, 0, 0.35);
    --border: rgba(255, 255, 255, 0.1);
    }
