:root {
    --bg-color: #121212;

    --header-font: #c4c4c4;
    --header-font-detail: rgb(5, 195, 243);
    --header-bg: rgba(0, 0, 0, 0.35);
    --header-border: rgba(255, 255, 255, 0.05);

    --projects-border: black;
    --projects-border-hover: burlywood;

    --button-bg: black;
    --button: white;

    --scrollbar1: rgb(5, 195, 243);
    --scrollbar2: rgb(4, 160, 199);
    }
