html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    background-color: var(--background);
    overflow-x: hidden;
}

header h1{
    color: var(--font);
    font-size: 3rem;
    margin: 2vh;
    text-shadow: 10px 8px 5px black;
}

footer {
    height: 10vh;
}
