html {
    scroll-behavior: smooth;
    font-size: 16px;
    /* overflow-x: hidden; */
}

body {
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    background-color: var(--background);
    overflow-x: hidden;
    animation: fadeInOpacity 2s ease-out;
    animation-fill-mode: backwards;
    animation-delay: .25s;
}

header h1{
    color: var(--font);
    font-size: 3rem;
    margin: 1vh;
    text-shadow: 10px 8px 5px black;
    text-align: center;
}

footer {
    height: 10vh;
}

section {
    scroll-margin-top: 20vh;
    /* padding: 2vh 0; */
}

footer {
    background-color: var(--background2);
    position: relative;
    padding: 15px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    gap: 40vw;
}

footer p {
    font-size: 1rem;
    color: var(--font);
    margin: 10px;
    text-align: right;
}

footer .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer img {
    height: 50px;
    width: 50px;
    border: 100px;
}
