html {
    scroll-behavior: smooth;
    font-size: 16px;
    overflow-x: hidden;
}

body {
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    background-color: var(--background);
    overflow-x: hidden;
    animation: fadeInOpacity 2s ease-out;
    animation-fill-mode: backwards;
    animation-delay: .25s;
}

header h1{
    color: var(--font);
    font-size: 3rem;
    margin: 1vh;
    text-shadow: 10px 8px 5px black;
    text-align: center;
    cursor: default;
}

section {
    scroll-margin-top: 15vh;
}

footer {
    position: relative;
    padding: 15px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100vw;
}

footer p {
    font-size: 1rem;
    color: var(--font);
    margin: 10px;
    text-align: right;
}

footer .links, .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer img, .links img {
    height: 50px;
    width: 50px;
    border: 100px;
    transition: .2s;
    filter: grayscale(50%);
}

footer .links img:hover, .links img:hover {
    transform: scale(1.1);
    filter: none;
}
