body {
    background: linear-gradient(70deg, var(--bg-color1) 50%, var(--bg-color2));
    height: 100vh;
}

.close-menu {display: none;}

.bar {
    position: fixed;
    width: 100%;
    background-color: var(--header-bg);
    backdrop-filter: blur(10px);
    /* border-bottom: solid 1px var(--header-border); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    padding: 10px;
    width: 120px;
    border-radius: 50%;
}

.index {
    font-family: myFirstFont;
    width: 50%;
    font-size: 40px;
}

.index ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.index a {
    color: var(--header-font);
}

.index a:hover {
    color: var(--header-font-detail);
    transition: 0.2s;
}

.home {
    height: 500px;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 10px;
    gap: 10px;
    cursor: pointer;
}

.projects img {
    max-width: 300px;
    border-radius: 5px;
    border: solid 2px var(--projects-border);
    transition: 0.2s ease-in-out;
}

.projects img:hover {
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
    transform: scale(1.07);
    border: 2px solid var(--projects-border-hover);
}
