body {
    font-family: "Inter", sans-serif;
    /* letter-spacing: 1px; */
    background-color: var(--bg-color);
    height: 100%;
}

.close-menu {display: none;}

.bar {
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: var(--header-bg);
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    border-bottom: 1px solid var(--header-border);
}

.logo img{
    width: 80px;
    border-radius: 50%;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.6);
}

.index {
    width: 50%;
    font-size: 20px;
}

.index ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: right;
}

.index ul li {
    margin-left: 5vh;
    font-weight: bold;
}

.index a {
    color: var(--header-font);
}

.index a:hover {
    color: var(--header-font-detail);
    transition: 0.15s;
}

.home {
    position: relative;
    display: flex;
    padding: 300px 200px;
    justify-content: center;
    /* align-items: center; */
}

.home .home-left {
    color: var(--header-font);
    width: 50%;
}

.home .home-left h1 {
    font-size: 1.8rem;
    margin: 2rem 0;
   /* text-transform: uppercase; */
    /* font-weight: normal; */
}

.home .home-left .name {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    color: var(--header-font-detail);
}

.home .home-right img {
    width: 500px;
}

.home .cursor {
    width: 3px;
    height: 40px;
    background-color: var(--header-font);
    display: inline-block;
    position: relative;
    top: 3px;
    animation: blink 0.6s infinite alternate;
  }
  
@keyframes blink {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

.home .scroll {
    position: absolute;
    bottom: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.home .scroll p {
    font-size: 1.2rem;
    padding: 1rem 0;
    display: inline-block;
    color: var(--header-font);
}

.home .scroll p:hover {
    color: var(--header-font-detail);
    transition: 0.5s;
}

.home .scroll img {
    animation: scroll-down 3s infinite forwards;
}

@keyframes scroll-down {
    0% {
      opacity: 0;
      transform: translate3d(0, -15px, 0);
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate3d(0, 10px, 0);
    }
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 200px;
}

.projects ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 10px;
    gap: 10px;
    cursor: pointer;
}

.projects img {
    max-width: 300px;
    border-radius: 5px;
    border: solid 2px var(--projects-border);
    transition: 0.2s ease-in-out;
}

.projects img:hover {
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
    transform: scale(1.07);
    border: 2px solid var(--projects-border-hover);
}


nav ul li a::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--header-font-detail);
    margin-top: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar1);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar2);
}

::selection {
  background-color: var(--header-font-detail);
}
