
@media (max-width:1300px) {

     .home .home-left h1, .home .home-left h2 {
        font-size: 1.6rem;
        margin: 2rem 0;
    }

    .home .home-left .name {
        font-size: 2.5rem;
        color: var( --color1);
    }

    .home .home-right img {
        width: 400px;
     }
}


@media (max-width:900px) {
    
    .scroll {
        height: 5vh
    }

    .home {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0;
    }
    
    .home .home-left {
        margin-top: 100px;
        min-width: 40ch;
    }

    .home .home-left .name {
        font-size: 2.5rem;
    }

    .home .home-right img {
       width: 350px;
       margin-block: 50px;
    }

    .about .subsection {
        /* flex-direction: column; */
        width: 95vw;
    }

    .about .left .photo {
        width: 150px;
    }

    .about .right {
        width: 60vw;
        margin: 0 10px;
    }

    .about .right p {
        font-size: 1.2rem;
    }

    .skills {
        padding-top: 1vh;
        /* min-height: fit-content; */
    }
    
    .skills .subsection {
        min-height: fit-content;
    }

    .skills .left ul {
        width: min-content;
    }

    .skills .right {
        width: 60vw;
    }

    .projects {
        height: 100%;
    }

    .projects ul {
        margin: 2vh 0;
        height: 100%;
    }
    
    footer {
        flex-direction: column;
        gap: 0;
    }
    
    footer p {
        text-align: center;
    }
}
@media (max-height:700px) {

    .scroll.hide {
        display: none;
    }

}
