
@media (max-width:1300px) {

     .home .home-left h1, h2 {
        font-size: 1.5rem;
        margin: 2rem 0;
    }

    .home .home-left .name {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: bold;
        color: var( --color1);
    }

    .home .home-right img {
        width: 400px;
     }
}


@media (max-width:900px) {
    
    .scroll {
        height: 5vh
    }

    .home {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80vh;
        gap: 0;
    }
    
    .home .home-left {
        margin-top: 100px;
        min-width: 340px;
    }

    .home .home-left .name {
        font-size: 2.5rem;
    }

    .home .home-right img {
       width: 350px;
       margin-block: 90px;
    }
    
    .projects {
        height: 100%;
    }

    .projects ul {
        margin: 2vh 0;
        height: 100%;
    }

    .skills {
        padding-top: 1vh;
    }
    
    .skills .subsection {
        height: 60vh;
    }

    .skills .left ul {
        width: min-content;
    }

    .skills .right {
        width: 60vw;
    }
    
    footer {
        flex-direction: column;
        gap: 0;
        height: 130px;
    }
    
    footer p {
        text-align: center;
    }
}
@media (max-height:700px) {

    .scroll.hide {
        display: none;
    }

}
