/* Home */

.home {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10vw;
    align-items: center;
    text-shadow: 10px 8px 5px black;
    height: 80vh;
}

.home .home-left {
    color: var(--font);
    justify-content: center;
    min-width: 45ch;
}

.home .home-left h1, .home .home-left  h2 {
    font-size: 1.8rem;
    margin: 2rem 0;
    font-weight: lighter;
}

.home .home-left .name {
    text-transform: uppercase;
    font-size: 3rem;
    /* font-weight: bold; */
    color: var( --color1);
}

.home .home-right img {
    width: 500px;
}

/* About me */

.about {
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;
    /* height: 50vh; */
    /* min-height: fit-content; */
    background-color: var(--background2);
}

.about .subsection {
    display: flex;
    width: 70vw;
    flex-direction: row;
    align-items: flex-start;
}

.about .left {
    width: min-content;
    gap: 30px;
}

.about .left .photo {
    width: 250px;
    border-radius: 20px;
    border: 2px solid var(--border);
}

.about .left .button {
    display: flex;
    justify-content: center;
    line-height: 40px;
    text-align: center;
    border: 2px solid var(--border);
    background-color: var(--background);
    width: fit-content;
    margin: 20px auto;
    border-radius: 10px;
    padding: 5px;
    height: fit-content;
}

.about .left .button a {
    display: flex;
    color: var(--font);
}

.about .left .button img {
    height: 40px;
}

.about .right {
    width: 700px; 
    align-items: flex-end;
    margin: 0 5vw;
    padding: 0 10px;
}

.about .right p {
    color: var(--font);
    font-size: 1.5rem;
   /* text-align: justify; */
    background-color: var(--background);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    border: 2px solid var(--border);
    border-top: 0;
    width: 40vw;
}

.about .right ul {
    display: flex;
    flex-direction: row;
}

.about .right ul li {
    width: 50%;
    height: 30px;
    color: var(--font);
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    height: 50px;
    transition: .2s;
    border: 0;
    border-bottom: 2px solid var(--border);

}

.about .right .selected {
    font-size: 1.8rem;
    background-color: var(--background);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 80%;
    border: 2px solid var(--border);
    border-bottom: 0;
    color: white;
    font-weight: bold;
}

/* Skills */

.skills {
    /* min-height: 400px; */
    /* padding: 20px 0; */
    background-color: var(--background2);
}

.skills .section {
    padding: 10px;
    background-color: #121212;
    /* margin: 20px 0; */
}

.skills header {
    width: fit-content;
    margin: auto;
}

.skills .subsection {
    display: flex;
    justify-content: center;
}

.skills .left  {
    max-width: 300px;
}

.skills .left ul {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.skills .left ul li {
    display: flex;
    background-color: var(--background2);
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
    border: 2px solid var(--border);
}

.skills .right {
    width: 30vw;
    margin: 20px;
}

.skills .right p {
    font-size: 1.5rem;
    color: var(--font);
}

.skill img {
    background-color: var(--background2);
}

/* Projects */

.projects {
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--background2);
}

.projects ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    gap: 10px;
    cursor: pointer;
    padding: 2vh 0;
}

.projects img {
    max-width: 300px;
    border-radius: 5%;
    border: solid 2px var(--background);
    transition: 0.2s ease-in-out;
    overflow: hidden;
}

.projects img:hover {
    animation: c-glowing-blue .2s ease-in-out infinite;
    animation-direction: alternate;
    transform: scale(1.07);
    border: 2px solid var(--color1);
}


