/* Home */

.home {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10vw;
    align-items: center;
    text-shadow: 10px 8px 5px black;
    height: 80vh;
    z-index: -1;
}

.home .left {
    color: var(--font);
    justify-content: center;
    min-width: 45ch;
}

.home .left h1, .home .left  h2 {
    font-size: 1.8rem;
    margin: 2rem 0;
    font-weight: lighter;
}

.home .left .name {
    text-transform: uppercase;
    font-size: 3rem;
    color: var( --color1);
}

.home .right img {
    width: 500px;
}

/* About me */

.about {
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--background2);
}

.about .subsection {
    display: flex;
    width: 70vw;
    flex-direction: row;
    justify-content: center;
}

.about .left {
    width: min-content;
    margin: 50px 0;
}

.about .left .photo {
    width: 200px;
    border-radius: 20px;
    border: 2px solid var(--border);
}

.about .left .button {
    display: flex;
    justify-content: center;
    line-height: 40px;
    text-align: center;
    border: 2px solid var(--border);
    background-color: var(--background);
    width: fit-content;
    margin: 20px auto;
    border-radius: 10px;
    padding: 5px;
    height: fit-content;
    transition: .2s;
    cursor: pointer;
}

.about .left .button a {
    display: flex;
    color: var(--font);
}

.about .left .button img {
    height: 40px;
}

.about .left .button:hover {
    transform: scale(1.07);
}

.about .left .button:hover a {
    color: white;
}

.about .right {
    width: 30vw; 
    align-items: flex-end;
    margin: 50px 0;
    padding: 0 50px;
}

.about .right p {
    color: var(--font);
    font-size: 1.5rem;
    background-color: var(--background);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    border: 2px solid var(--border);
    border-top: 0;
}

.about .right ul {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.about .right ul li {
    width: 50%;
    height: 30px;
    color: var(--font);
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 5px;
    height: 50px;
    transition: .2s;
    border: 2px solid var(--background2);
    border-bottom: 2px solid var(--border);
    cursor: pointer;
}

.about .right ul li:hover {
    color: white;
}

.about .right .selected {
    font-size: 1.8rem;
    background-color: var(--background);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 80%;
    border: 2px solid var(--border);
    border-bottom: 2px solid var(--background);
    color: white;
    font-weight: bold;
    cursor:default;
}

/* Skills */

.skills {
    background-color: var(--background2);
}

.skills .section {
    padding: 10px;
    background-color: #121212;
    min-height: 400px;
}

.skills header {
    width: fit-content;
    margin: auto;
}

.skills .subsection {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.skills .left  {
    max-width: 320px;
}

.skills .left ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.skills .left ul li {
    display: flex;
    background-color: var(--background2);
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
    border: 2px solid var(--border);
    transition: .2s;
    overflow: hidden;
}

.skills .left .native {
    padding: 5px 0 10px;
}

.skills .right {
    width: 50vw;
    margin: 20px;
}

.skills .right p {
    font-size: 1.5rem;
    color: var(--font);
}

.skill img {
    background-color: var(--background2);
    filter: grayscale(50%);
    transition: .2s;
}

.skills .left ul li:hover {
    background-color: black;
}

.skills .left ul li:hover img {
    background-color: black;
    transform: scale(1.1);
    filter: none;
}


/* Projects */

.projects {
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--background2);
}

.projects ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    gap: 10px;
    padding: 2vh 0;
}

.projects ul li {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 5px;
    border: 1px solid var(--border);
    background-color: rgba(255,255,255,0.02);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    filter: grayscale(30%);
}

.projects ul li:hover {
    transform: scale(1.02);
    filter: none;
}


.projects ul li h1 {
    font-size: 1.5rem;
    text-align: center;
    width: fit-content;
    margin: 3px;
    color: var(--font);
}

.projects .projectImage {
    width: 300px;
    height: 180px;
    border-radius: 10px;
    border: solid 2px var(--background);
    transition: 0.2s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.projects .projectImage:hover {
    transform: scale(1.02);
}

.projects ul li .button {
    display: flex;
    justify-content: center;
    line-height: 40px;
    text-align: center;
    border: 2px solid var(--border);
    background-color: black;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    height: fit-content;
    transition: .2s;
    cursor: pointer;

}

.projects ul li .button a {
    display: flex;
    color: var(--font);
}

.projects ul li .button img {
    height: 40px;
}

.projects ul li .button:hover {
    transform: scale(1.03);
}

.projects ul li .button:hover a {
    color: white;
}

